@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
.story-content {
  font-size: 40px;
}
.titleBar {
  background-color: blue;
  color: white;
  transition: 1000ms linear;
  margin: 0px;
  padding: 8px 10px;
}
.titleBar:hover {
  background-color: palevioletred;
}
